body{
    font-family: 'Poppins', sans-serif;
}

#header {
    background: black;
    color: white; 
    
    
    .logo {
        padding: $basic-padding;
        img{
            max-height: 90px;
        }

        .brand-name {
            font-size: 70px;
            font-family: 'Permanent Marker', cursive;
            padding: 0 $basic-padding;
            /*fixing weird line height of the font-family*/
            margin-top: -$basic-padding; 
        }

        .brand-business {
            font-size: 8px;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }
}

#main {
    h1 {
        font-size: 60px;
        line-height: 100%;
    }
    h2 {
        font-weight: normal;
    }
}
#footer {
    background: $grey-dark;
    color: $grey-lighter;
}