body {
    font-family: 'Poppins', sans-serif;
}

#header {
    background: black;
    color: white;
    .logo {
        padding: $basic-padding;
        img {
            max-height: 90px;
        }
        .brand-name {
            font-size: 70px;
            font-family: 'Permanent Marker', cursive;
            padding: 0 $basic-padding;
            /*fixing weird line height of the font-family*/
            margin-top: -$basic-padding;
        }
        .brand-business {
            font-size: 8px;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }
}

#main {
    h1 {
        font-size: 60px;
        line-height: 100%;
    }
    h2 {
        font-weight: normal;
    }
    input {
        width: 100%;
        font-family: 'Poppins', sans-serif;
    }
    label {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
    }

    button {
        background:$brand-main;
        font-size: 16px;
        &:hover{
            background: darken($brand-main, 3%);
        }
        &:active{
            background: darken($brand-main, 5%);
        }
    }
    .search-bar {
        position: relative;
        @include border-radius(3px);
        border: 1px solid $grey-light;
        margin-top: $basic-padding / 3;
        margin-bottom: $basic-padding*2;
        i {
            font-size: 20px;
        }
        input {
            box-sizing: border-box;
            padding: $basic-padding $basic-padding $basic-padding $basic-padding*3;
            font-size: 16px;
            color: $grey;
        }
    }
    .icon-input {
        color: darken($grey-light, 10%);
        padding-left: 10px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

.bill {
    position: fixed;
    bottom: 0;
    right: 0;
    background: $brand-main;
    padding: $basic-padding;
    z-index: 1;
    border-top-left-radius: 10px;
    box-shadow: inset 0 0 10px rgba(0,0,0, 0.3);
    button {
        
        background: lighten(black, 20%);
       
        color: $grey-light;
        
        font-size: 20px;
        box-shadow: inset 0 0 10px rgba(0,0,0, 0.5);

        &:hover{
            background: lighten(black, 17%);
        }
        &:active{
            background: lighten(black, 15%);
        }
    }
}
.button-default {
    padding: $basic-padding;
    border: none;
}
.product-card {
    border: 2px solid $grey-lighter;
    @include border-radius(3px);
    margin-top: $basic-padding * 2;
    padding: $basic-padding;
    img {
        max-height: 200px;
    }
    .quantity {
        @include border-radius(3px);
        border: 1px solid $grey-light;
    }
    .button {
        @include border-radius(50%);
        font-size: 24px;
        height: $basic-padding * 3;
        width: $basic-padding * 3; 
        border: 1px solid $grey-light;
    }
    .product-title {
        padding: $basic-padding;
        height: 45px;
    }
    .price {
        font-weight: bold;
        font-size: 26px;
    }
    input {
        font-size: 24px;
        max-width: $basic-padding*4;
        text-align: center;
    }
    .button-remove {
        &:active {
            background: darken(white, 5%);
            border: 2px solid $grey;
        }
    }
    .button-add {
        background: $brand-main;
        color: black;
        &:active {
            background: darken($brand-main, 5%);
            border: 2px solid $grey;
        }
    }
}

#footer {
    background: $grey-dark;
    color: $grey;
    padding: $basic-padding * 2 0 $basic-padding 0;
    .footer-menu-title {
        font-size: 20px;
    }
    .social-net {
        font-size: 20px;
        a {
            color: $grey;
            margin-left: $basic-padding;
            &:hover {
                color: $brand-main;
            }
        }
    }
    hr {
        height: 1px;
        border-top: 1px solid darken($grey, 20%);
        border-left: none;
        border-right: none;
        border-bottom: none;
    }
    .copyright {
        font-size: 10px;
    }
    ul {
        margin: 0;
        padding: 0;
        font-size: 14px;
        li {
            list-style: none;
            margin: $basic-padding / 2 0;
            a {
                color: $grey-lighter;
                &:hover {
                    color: $brand-main;
                }
            }
        }
    }
}