$basic-padding:       15px;
$font-size-base:      13px;


$brand-main:        #fcd500;
$grey-darker:       #333;
$grey-dark:         #333;
$grey:              #8b8b8b;
$grey-light:        darken(#ECECEC, 5%);
$grey-lighter:      #ECECEC;

/*
@gray-base:              #000;
@gray-darker:            lighten(@gray-base, 13.5%); // #222
@gray-dark:              lighten(@gray-base, 20%);   // #333
@gray:                   lighten(@gray-base, 33.5%); // #555
@gray-light:             lighten(@gray-base, 46.7%); // #777
@gray-lighter:           lighten(@gray-base, 93.5%); // #eee */