$basic-padding:       15px;
$font-size-base:      13px;
$calm:              #14aaf5;
$success:           #5cb85c; 
$grey-darker:       #151b26;
$grey-dark:          lighten($grey-darker, 20%);
$grey:              #848f99;
$grey-light:        #e0e6e8;
$grey-almost-light:   darken($grey-light, 10%);
$grey-lighter:      #f6f8f9;
$selected-item:     #edf8ff; 