<footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-6 col-xs-8">
                    <span class="footer-menu-title">Joe's Delivery</span>
                    <ul>
                        <li>
                            <a href="#">How it works?</a>
                        </li>
                        <li>
                            <a href="#">Terms of use/Privacy</a>
                        </li>
                        <li>
                            <a href="#">Get in touch</a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-xs-4">
                    <div class="social-net pull-right">
                        <a href="#">
                            <i class="icon-social-facebook"></i>
                        </a>
                        <a href="#">
                            <i class="icon-social-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="icon-social-instagram"></i>
                        </a>
                    </div>
                </div>


                <div class="col-12 col-xs-12">
                    <hr/>
                    <p class="copyright text-center">2017 Joe's Delivery</p>
                </div>
            </div>
        </div>
    </footer>