<div id="products" class="container">
    <div class="row">
        <div class="col-3">
            <div class="product-card">
                <img src="https://s3-us-west-2.amazonaws.com/ze-delivery/upload/images/5825b75a5062e.jpg" class="img-responsive center-block"
                />

                <h1>{{geolocation}}</h1>
                <span class="product-title center-block text-center">Skol 1L | Vasilhame Incluso.</span>
                <span class="product-price center-block text-center">R$
                    <span class="price">20,00</span>
                </span>

                <div class="center-block text-center">
                    <button class="button button-remove">-</button>
                    <input type="number" min="0" class="quantity" />
                    <button class="button button-add">+</button>
                </div>
            </div>
        </div>

    </div>

</div>