<div id="products" class="container">
    <div class="row top-bar">
        <div class="col-xs-6 flex">
            <div class="search-bar center-block">
                <select ng-options="cat.title for cat in vm.categories track by cat.id" ng-model="selectedItem" ng-change="vm.queryProducts(selectedItem.id)">
                </select>
            </div>

        </div>

        <div class="col-xs-6 flex">
            <div class="search-bar center-block">
                <form ng-submit="vm.queryProducts(selectedItem.id, searchValue)">
                    <input id="search-products" ng-model="searchValue" type="search" class="search-input" placeholder="Search...">
                    <i ng-click="vm.queryProducts(selectedItem.id, searchValue)" class="icon-magnifier icon-input"></i>
                </form>
            </div>
        </div>
    </div>


    
    <div ng-if="vm.loading">
        <!-- ui loader -->
        <div class="row">
            <div class="ui-loader">
                <div ng-repeat="n in [1,2,3,4,5,6,7,8]" class="col-3 col-sm-6 col-md-4 col-xs-12">
                    <div class="product-card">
                        <img src="images/beer_placeholder.jpg" class="img-responsive center-block" />
                        <span class="product-title center-block text-center">
                            <span class="ui-loader-big"></span>
                        </span>
                        <span class="product-price center-block text-center">
                            <span class="ui-loader-big"></span>
                        </span>
                        <span class="product-price center-block text-center">
                            <span class="ui-loader-big"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">


        <div ng-repeat="product in vm.products" class="col-3 col-sm-6 col-md-4 col-xs-12">

            <div class="product-card">
                <img src="{{product.imageUrl}}" class="img-responsive center-block" />

                <span class="product-title center-block text-center">{{product.title}}</span>
                <span class="product-price center-block text-center">$
                    <span class="price">{{product.price}}</span>
                </span>

                <div class="center-block text-center">
                    <button class="button button-remove" ng-click="vm.removeProduct($index)">-</button>
                    <input type="number" min="0" ng-model="product.quantity" class="quantity" />
                    <button class="button button-add" ng-click="vm.addProduct($index)">+</button>
                </div>
            </div>
        </div>

        <h2 ng-if="vm.emptyMessage" class="text-center">{{vm.emptyMessage}}</h2>
        <h2 ng-if="vm.errorMessage" class="text-center">{{vm.errorMessage}}</h2>
    </div>

</div>

<div class="bill">
    <div>
        <span class="total-label center-block text-center uppercase">Total</span>
        <span class="check-value center-block text-center">{{vm.check | currency }}</span>
    </div>
    <button class="button-default uppercase">
        <i class="icon-basket"></i> The check, Joe!</button>
</div>