/*
@gray-base:              #000;
@gray-darker:            lighten(@gray-base, 13.5%); // #222
@gray-dark:              lighten(@gray-base, 20%);   // #333
@gray:                   lighten(@gray-base, 33.5%); // #555
@gray-light:             lighten(@gray-base, 46.7%); // #777
@gray-lighter:           lighten(@gray-base, 93.5%); // #eee */
html,
body {
  height: 100%;
  margin: 0; }

a {
  text-decoration: none; }

input,
textarea {
  border: none;
  box-shadow: none; }
  input:focus,
  textarea:focus {
    outline: none; }

button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer; }
  button:focus {
    outline: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */ }

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box; }

.container-big {
  position: relative;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box; }

.row {
  margin-right: -15px;
  margin-left: -15px; }

/* Self Clearing Goodness */
.container:after,
.row:after {
  content: "";
  display: table;
  clear: both; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 90%;
    padding: 0; } }

/* For devices larger than 550px */
/* columns */
.col-xs-1 {
  width: 8.33333%;
  float: left;
  box-sizing: border-box;
  padding: 0 15px; }

.col-xs-2 {
  width: 16.66667%;
  float: left;
  box-sizing: border-box;
  padding: 0 15px; }

.col-xs-3 {
  width: 25%;
  float: left;
  box-sizing: border-box;
  padding: 0 15px; }

.col-xs-4 {
  width: 33.33333%;
  float: left;
  box-sizing: border-box;
  padding: 0 15px; }

.col-xs-5 {
  width: 41.66667%;
  float: left;
  box-sizing: border-box;
  padding: 0 15px; }

.col-xs-6 {
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding: 0 15px; }

.col-xs-7 {
  width: 58.33333%;
  float: left;
  box-sizing: border-box;
  padding: 0 15px; }

.col-xs-8 {
  width: 66.66667%;
  float: left;
  box-sizing: border-box;
  padding: 0 15px; }

.col-xs-9 {
  width: 75%;
  float: left;
  box-sizing: border-box;
  padding: 0 15px; }

.col-xs-10 {
  width: 83.33333%;
  float: left;
  box-sizing: border-box;
  padding: 0 15px; }

.col-xs-11 {
  width: 91.66667%;
  float: left;
  box-sizing: border-box;
  padding: 0 15px; }

.col-xs-12 {
  width: 100%;
  float: left;
  box-sizing: border-box;
  padding: 0 15px; }

/* offsets */
.offset-col-xs-1 {
  margin-left: 8.33333%; }

.offset-col-xs-2 {
  margin-left: 16.66667%; }

.offset-col-xs-3 {
  margin-left: 25%; }

.offset-col-xs-4 {
  margin-left: 33.33333%; }

.offset-col-xs-5 {
  margin-left: 41.66667%; }

.offset-col-xs-6 {
  margin-left: 50%; }

.offset-col-xs-7 {
  margin-left: 58.33333%; }

.offset-col-xs-8 {
  margin-left: 66.66667%; }

.offset-col-xs-9 {
  margin-left: 75%; }

.offset-col-xs-10 {
  margin-left: 83.33333%; }

.offset-col-xs-11 {
  margin-left: 91.66667%; }

.offset-col-xs-12 {
  margin-left: 100%; }

@media (min-width: 550px) {
  /* columns */
  .col-1 {
    width: 8.33333%;
    float: left;
    box-sizing: border-box;
    padding: 0 15px; }
  .col-2 {
    width: 16.66667%;
    float: left;
    box-sizing: border-box;
    padding: 0 15px; }
  .col-3 {
    width: 25%;
    float: left;
    box-sizing: border-box;
    padding: 0 15px; }
  .col-4 {
    width: 33.33333%;
    float: left;
    box-sizing: border-box;
    padding: 0 15px; }
  .col-5 {
    width: 41.66667%;
    float: left;
    box-sizing: border-box;
    padding: 0 15px; }
  .col-6 {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 0 15px; }
  .col-7 {
    width: 58.33333%;
    float: left;
    box-sizing: border-box;
    padding: 0 15px; }
  .col-8 {
    width: 66.66667%;
    float: left;
    box-sizing: border-box;
    padding: 0 15px; }
  .col-9 {
    width: 75%;
    float: left;
    box-sizing: border-box;
    padding: 0 15px; }
  .col-10 {
    width: 83.33333%;
    float: left;
    box-sizing: border-box;
    padding: 0 15px; }
  .col-11 {
    width: 91.66667%;
    float: left;
    box-sizing: border-box;
    padding: 0 15px; }
  .col-12 {
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 0 15px; }
  /* offsets */
  .offset-col-1 {
    margin-left: 8.33333%; }
  .offset-col-2 {
    margin-left: 16.66667%; }
  .offset-col-3 {
    margin-left: 25%; }
  .offset-col-4 {
    margin-left: 33.33333%; }
  .offset-col-5 {
    margin-left: 41.66667%; }
  .offset-col-6 {
    margin-left: 50%; }
  .offset-col-7 {
    margin-left: 58.33333%; }
  .offset-col-8 {
    margin-left: 66.66667%; }
  .offset-col-9 {
    margin-left: 75%; }
  .offset-col-10 {
    margin-left: 83.33333%; }
  .offset-col-11 {
    margin-left: 91.66667%; }
  .offset-col-12 {
    margin-left: 100%; } }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto; }

.center-block {
  display: inline-block;
  margin-right: auto;
  margin-left: auto; }

.text-center {
  text-align: center; }

.flex-center {
  display: flex;
  align-items: center; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.no-padding {
  padding: 0; }

.full-height {
  height: 100%;
  max-height: 100%; }

.full-block {
  display: block;
  width: 100%; }

.center-block {
  display: block;
  margin: 0 auto; }

.uppercase {
  text-transform: uppercase; }

@media (max-width: 550px) {
  .hidden-xs {
    /* This is the very only reason I think !important is plausible. When I need some element to be hidden, I need it hidden no matter what.
        That's why I kept it here*/
    display: none !important; } }

body {
  font-family: 'Poppins', sans-serif; }

#header {
  background: black;
  color: white; }
  #header .logo {
    padding: 15px; }
    #header .logo img {
      max-height: 90px; }
    #header .logo .brand-name {
      font-size: 70px;
      font-family: 'Permanent Marker', cursive;
      padding: 0 15px;
      /*fixing weird line height of the font-family*/
      margin-top: -15px; }
    #header .logo .brand-business {
      font-size: 8px;
      text-transform: uppercase;
      letter-spacing: 2px; }

#main h1 {
  font-size: 60px;
  line-height: 100%; }

#main h2 {
  font-weight: normal; }

#main input {
  width: 100%;
  font-family: 'Poppins', sans-serif; }

#main label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px; }

#main button {
  background: #fcd500;
  font-size: 16px; }
  #main button:hover {
    background: #edc800; }
  #main button:active {
    background: #e3bf00; }

#main .search-bar {
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #dfdfdf;
  margin-top: 5px;
  margin-bottom: 30px; }
  #main .search-bar i {
    font-size: 20px; }
  #main .search-bar input {
    box-sizing: border-box;
    padding: 15px 15px 15px 45px;
    font-size: 16px;
    color: #8b8b8b; }

#main .icon-input {
  color: #c6c6c6;
  padding-left: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.bill {
  position: fixed;
  bottom: 0;
  right: 0;
  background: #fcd500;
  padding: 15px;
  z-index: 1;
  border-top-left-radius: 10px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3); }
  .bill button {
    background: #333333;
    color: #dfdfdf;
    font-size: 20px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); }
    .bill button:hover {
      background: #2b2b2b; }
    .bill button:active {
      background: #262626; }

.button-default {
  padding: 15px;
  border: none; }

.product-card {
  border: 2px solid #ECECEC;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  margin-top: 30px;
  padding: 15px; }
  .product-card img {
    max-height: 200px; }
  .product-card .quantity {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #dfdfdf; }
  .product-card .button {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    font-size: 24px;
    height: 45px;
    width: 45px;
    border: 1px solid #dfdfdf; }
  .product-card .product-title {
    padding: 15px;
    height: 45px; }
  .product-card .price {
    font-weight: bold;
    font-size: 26px; }
  .product-card input {
    font-size: 24px;
    max-width: 60px;
    text-align: center; }
  .product-card .button-remove:active {
    background: #f2f2f2;
    border: 2px solid #8b8b8b; }
  .product-card .button-add {
    background: #fcd500;
    color: black; }
    .product-card .button-add:active {
      background: #e3bf00;
      border: 2px solid #8b8b8b; }

#footer {
  background: #333;
  color: #8b8b8b;
  padding: 30px 0 15px 0; }
  #footer .footer-menu-title {
    font-size: 20px; }
  #footer .social-net {
    font-size: 20px; }
    #footer .social-net a {
      color: #8b8b8b;
      margin-left: 15px; }
      #footer .social-net a:hover {
        color: #fcd500; }
  #footer hr {
    height: 1px;
    border-top: 1px solid #585858;
    border-left: none;
    border-right: none;
    border-bottom: none; }
  #footer .copyright {
    font-size: 10px; }
  #footer ul {
    margin: 0;
    padding: 0;
    font-size: 14px; }
    #footer ul li {
      list-style: none;
      margin: 7.5px 0; }
      #footer ul li a {
        color: #ECECEC; }
        #footer ul li a:hover {
          color: #fcd500; }
